<div class="toast fade show d-md-flex bg-primary fixed-bottom" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-primary text-light fs-6 fw-lighter">
      <img src="https://i.gifer.com/5gi4.gif" class="rounded me-4" width="40" height="40" alt="...">
      <p>完成我的定期定額 - 800元，
      <br>我的選擇決定世界的樣貌 </p>
    </div>
    <div class="toast-body d-flex d-md-block justify-content-center"> 
      <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close"><a href="aid-afghanistan.html" class="text-light">定期定額</a></button>
      <hr>
      <button type="button" class="btn text-light" data-bs-dismiss="toast" aria-label="Close">下次再說</button>
    </div>
  </div>