<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%> 
 

<section class="mt-8">
    <div class="banner">
      <div class="swiper mySwiper-intro">
        <div class="swiper-wrapper p-4 mb-2">
          <div class="swiper-slide">
            <img src="../assets/images/home-1.jpg" class="" alt="cat" />
            <p><span class="tag me-2">飢餓三十人道救援 🔥</span>加入「一日生命糧募集行動」為飢餓兒童提供生命糧</p>
            <a href="aid-afghanistan.html"><h1>從每天100元開始，終結世界飢餓問題！<i class="bi bi-arrow-right-circle ms-2"></i></h1></a> 
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1536429504175-6964eee46cd4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dog"> 
            <p><span class="tag me-2">線上連署 🔥</span>建立強而有力的問責機制，追究塔利班侵犯人權的責任。</p>
            <a href="aid-afghanistan.html"><h1>打破沉默：結束阿富汗的人權侵害<i class="bi bi-arrow-right-circle ms-2"></i></h1></a>  
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1550103560-199ddb5aded5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> 
            <p><span class="tag me-2">線上連署 🔥</span>結束平民的苦難，並確保人道援助得以進入加薩。</p>
            <a href="aid-afghanistan.html"><h1>呼籲以色列巴勒斯坦佔領區立即停火<i class="bi bi-arrow-right-circle ms-2"></i></h1></a>  
          </div>

          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1728135394135-58c2236cd2bb?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dog"> 
            <p><span class="tag me-2">線上連署 🔥</span>建立強而有力的問責機制，追究塔利班侵犯人權的責任。</p>
            <a href="aid-afghanistan.html"><h1>打破沉默：結束阿富汗的人權侵害<i class="bi bi-arrow-right-circle ms-2"></i></h1></a>  
          </div>
          <div class="swiper-slide">
            <img src="../assets/images/home-1.jpg" class="" alt="cat" />
            <p><span class="tag me-2">飢餓三十人道救援 🔥</span>加入「一日生命糧募集行動」為飢餓兒童提供生命糧</p>
            <a href="aid-afghanistan.html"><h1>從每天100元開始，終結世界飢餓問題！<i class="bi bi-arrow-right-circle ms-2"></i></h1></a> 
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1536429504175-6964eee46cd4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dog"> 
            <p><span class="tag me-2">線上連署 🔥</span>建立強而有力的問責機制，追究塔利班侵犯人權的責任。</p>
            <a href="aid-afghanistan.html"><h1>打破沉默：結束阿富汗的人權侵害<i class="bi bi-arrow-right-circle ms-2"></i></h1></a>  
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1550103560-199ddb5aded5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> 
            <p><span class="tag me-2">線上連署 🔥</span>結束平民的苦難，並確保人道援助得以進入加薩。</p>
            <a href="aid-afghanistan.html"><h1>呼籲以色列巴勒斯坦佔領區立即停火<i class="bi bi-arrow-right-circle ms-2"></i></h1></a>  
          </div>

          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1728135394135-58c2236cd2bb?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dog"> 
            <p><span class="tag me-2">線上連署 🔥</span>建立強而有力的問責機制，追究塔利班侵犯人權的責任。</p>
            <a href="aid-afghanistan.html"><h1>打破沉默：結束阿富汗的人權侵害<i class="bi bi-arrow-right-circle ms-2"></i></h1></a>  
          </div>
        </div>
        <div class="swiper-button-next text-light bg-primary p-4"><i class="bi bi-arrow-right"></i></div>
        <div class="swiper-button-prev border p-4 text-primary"><i class="bi bi-arrow-left"></i></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>   
    <!-- -->

    <!-- banner-swiper -->

    <section class="container"> 
      <div class="row justify-content-center gx-lg-6">

        <div class="col-lg-4">
          <img src="../assets/images/deco1.png" width="200" height="200" alt="">
          <h2 class="fs-1 fw-bold">募款／義賣／志工招募／物資募集</h2>
          <p class="mt-3">加入行動支持我們✨</p>
          <ul class="types d-flex text-nowrap mt-5 flex-wrap" style="height: auto;">
            <a href=""><li class="bg-primary120 text-light px-3 py-2 me-2 mb-2">全部</li></a>
            <a href=""><li class="border px-3 py-2 me-2 mb-2" >人道救援</li></a>
            <a href=""><li class="border px-3 py-2 me-2 mb-2" >物資募集</li></a>
            <a href=""><li class="border px-3 py-2 me-2 mb-2" >醫療照護</li></a>
            <a href=""><li class="border px-3 py-2 me-2 mb-2" >志工招募</li></a>
            <a href=""><li class="border px-3 py-2 me-2 mb-2" >動物救援</li></a>
            <a href=""><li class="border px-3 py-2 me-2 mb-2" >貓狗偏鄉絕育</li> </a>
          </ul>
        </div>

        <div class="col-lg-7">
          <div class="sm-nowrap row overflow-x-auto gy-lg-3">
            <div class="col-lg-6">
             <a href="aid-afghanistan.html">
            <div class="card position-relative pb-1">

            <p class="card-tag position-absolute bg-primary10 rounded-pill text-primary py-2 px-3 fs-6">募款倒數 10 天</p>
      
            <img  src="https://images.unsplash.com/photo-1613458248541-35ad904cb7f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="阿富汗女孩" />
      
            <div class="card-body">
              <h6 class="card-title fw-bold fs-5">讓更多阿富汗女孩展開新的明天！</h6>
      
              <div class="card-initiator d-flex align-items-center mt-3"> 
                  <img src="../assets/images/initiator1.png" width="40" height="40" alt=""> 
                  <p class="ms-2">國際特赦組織台灣分會</p> 
              </div>
       
              <div class="d-flex justify-content-between mt-3">
                <p class="text-primary fw-bold">募款進度 81 %</p>
                <p class="fw-lighter text-secondary">已有 521 人參與募款</p>
              </div>
      
              <div class="progress my-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                
              <div class="d-flex align-items-center">
                <h5 class="fw-bolder">NT$ 24,807</h5>
                  <span class="fs-6 fw-lighter ms-2 text-secondary">目前已募資金額</span>
                </div>
      
            </div>
            </div></a>

            </div>
            <div class="col-lg-6">
              <a href="aid-afghanistan.html">
            <div class="card position-relative pb-1">

            <p class="card-tag position-absolute bg-primary10 rounded-pill text-primary py-2 px-3 fs-6">募款倒數 15 天</p>
      
            <img  src="https://cdn-www.cw.com.tw/article/202001/article-5e217dfad132d.jpg" class="card-img-top" alt="阿富汗女孩" />
      
            <div class="card-body">
              <h6 class="card-title fw-bold fs-5">小腦萎縮症救助照護補助計畫</h6>
      
              <div class="card-initiator d-flex align-items-center mt-3"> 
                  <img src="../assets/images/logo-nobg.png" width="40" height="40" alt=""> 
                  <p class="ms-2">中華小腦萎縮症病友協會</p> 
              </div>
       
              <div class="d-flex justify-content-between mt-3">
                <p class="text-primary fw-bold">募款進度 37 %</p>
                <p class="fw-lighter text-secondary">已有 521 人參與募款</p>
              </div>
      
              <div class="progress my-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:37%" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                
              <div class="d-flex align-items-center">
                <h5 class="fw-bolder">NT$ 12,807</h5>
                  <span class="fs-6 fw-lighter ms-2 text-secondary">目前已募資金額</span>
                </div>
      
            </div>
            </div></a>
            </div>
            <div class="col-lg-6">
              <a href="aid-afghanistan.html">
            <div class="card position-relative pb-1">

            <p class="card-tag position-absolute bg-primary10 rounded-pill text-primary py-2 px-3 fs-6">募款倒數 2 天</p>
      
            <img  src="https://cdn.worldvision.org.tw/polar/admin/images/IIhK8wwXV3Y8DofPNr3lCKqzY3VE0S2Yv88IFdQ9.jpg" class="card-img-top" alt="阿富汗女孩" />
      
            <div class="card-body">
              <h6 class="card-title fw-bold fs-5">一日生命糧募集行動</h6>
      
              <div class="card-initiator d-flex align-items-center mt-3"> 
                  <img src="../assets/images/logo-nobg.png" width="40" height="40" alt=""> 
                  <p class="ms-2">台灣世界展望會</p> 
              </div>
       
              <div class="d-flex justify-content-between mt-3">
                <p class="text-primary fw-bold">募款進度 93 %</p>
                <p class="fw-lighter text-secondary">已有 5247 人參與募款</p>
              </div>
      
              <div class="progress my-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                
              <div class="d-flex align-items-center">
                <h5 class="fw-bolder">NT$ 10,8885</h5>
                  <span class="fs-6 fw-lighter ms-2 text-secondary">目前已募資金額</span>
                </div>
      
            </div>
            </div></a>
            </div>
            <div class="col-lg-6">
             <a href="aid-afghanistan.html">
            <div class="card position-relative pb-1">

            <p class="card-tag position-absolute bg-primary10 rounded-pill text-primary py-2 px-3 fs-6">募款倒數 10 天</p>
      
            <img  src="https://images.unsplash.com/photo-1613458248541-35ad904cb7f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="阿富汗女孩" />
      
            <div class="card-body">
              <h6 class="card-title fw-bold fs-5">讓更多阿富汗女孩展開新的明天！</h6>
      
              <div class="card-initiator d-flex align-items-center mt-3"> 
                  <img src="../assets/images/initiator1.png" width="40" height="40" alt=""> 
                  <p class="ms-2">國際特赦組織台灣分會</p> 
              </div>
       
              <div class="d-flex justify-content-between mt-3">
                <p class="text-primary fw-bold">募款進度 81 %</p>
                <p class="fw-lighter text-secondary">已有 521 人參與募款</p>
              </div>
      
              <div class="progress my-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                
              <div class="d-flex align-items-center">
                <h5 class="fw-bolder">NT$ 24,807</h5>
                  <span class="fs-6 fw-lighter ms-2 text-secondary">目前已募資金額</span>
                </div>
      
            </div>
            </div></a>

            </div>
          </div>
        </div>

      </div> 
    </section>

    <!-- 用愛紓困 -->
     <section class="container-fluid love">
      <div class="linear-bg pt-5 mt-4">

      <div class="text-center"> 
        <h3 class="fw-bold fs-1">用愛紓困</h3>
        <p class="mt-2 fw-lighter">給困境中等待的孩子一份即時的幫助</p>
      </div>

      <div class="d-flex position-relative mt-5">

       <div class="position-absolute deco-absolute d-none d-lg-block">
          <img src="../assets/images/deco1.png" width="300" height="300" alt="">
       </div>
  
       <!-- sm-scrolling --> 
       <div class="cards d-flex sm-nowrap overflow-x-auto d-lg-none">

        <a href="animal-food-aid.html"><div class="card position-relative pb-1 border me-3" style="min-width: 18rem; width: 18rem;">

          <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
    
          <img  src="../assets/images/card2.jpg" class="card-img-top" alt="阿富汗女孩" />
    
          <div class="card-body">
            <h6 class="card-title fw-bold fs-5">貓狗餐餐有飯吃 : 助糧救全台萬隻弱勢貓狗</h6>
    
            <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                <p class="ms-2">easyfundraising</p> 
            </div>
      
            <div class="align-items-center">
              <h5 class="fw-bolder text-primary mb-1">NT$ 24,807</h5>
                <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
              </div>
              <hr>
    
              <div class="d-flex justify-content-between mt-3 align-items-center">
                <p class="fw-lighter text-secondary fs-7">已有 521 人參與募款</p>
                <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
              </div>
      
          </div> 
        </div></a>

        <div class="card position-relative pb-1 border me-3" style="min-width: 18rem; width: 18rem;">

          <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
    
          <img  src="../assets/images/card3.jpg" class="card-img-top" alt="阿富汗女孩" />
    
          <div class="card-body">
            <h6 class="card-title fw-bold fs-5">讓更多阿富汗女孩展開新的明天！</h6>
    
            <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                <p class="ms-2">easyfundraising</p> 
            </div>
      
            <div class="align-items-center">
              <h5 class="fw-bolder text-primary mb-1">NT$ 24,807</h5>
                <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
              </div>
              <hr>
    
              <div class="d-flex justify-content-between mt-3 align-items-center">
                <p class="fw-lighter text-secondary fs-7">已有 521 人參與募款</p>
                <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
              </div>
      
          </div> 
        </div>
       
        <div class="card position-relative pb-1 border me-3" style="min-width: 18rem; width: 18rem;">

          <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
    
          <img  src="../assets/images/card2.jpg" class="card-img-top" alt="阿富汗女孩" />
    
          <div class="card-body">
            <h6 class="card-title fw-bold fs-5">貓狗餐餐有飯吃 : 助糧救全台萬隻弱勢貓狗</h6>
    
            <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                <p class="ms-2">easyfundraising</p> 
            </div>
      
            <div class="align-items-center">
              <h5 class="fw-bolder text-primary mb-1">NT$ 24,807</h5>
                <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
              </div>
              <hr>
    
              <div class="d-flex justify-content-between mt-3 align-items-center">
                <p class="fw-lighter text-secondary fs-7">已有 521 人參與募款</p>
                <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
              </div>
      
          </div> 
        </div>

        <div class="card position-relative pb-1 border" style="min-width: 18rem; width: 18rem;">

          <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
    
          <img  src="../assets/images/card3.jpg" class="card-img-top" alt="阿富汗女孩" />
    
          <div class="card-body">
            <h6 class="card-title fw-bold fs-5">讓更多阿富汗女孩展開新的明天！</h6>
    
            <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                <p class="ms-2">easyfundraising</p> 
            </div>
      
            <div class="align-items-center">
              <h5 class="fw-bolder text-primary mb-1">NT$ 24,807</h5>
                <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
              </div>
              <hr>
    
              <div class="d-flex justify-content-between mt-3 align-items-center">
                <p class="fw-lighter text-secondary fs-7">已有 521 人參與募款</p>
                <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
              </div>
      
          </div> 
        </div>
         
      </div>
       <!-- Swiper -->    
      <div #swiperRef="" class="swiper mySwiper d-none d-lg-block pb-5">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="animal-food-aid.html"><div class="card position-relative pb-1 border">

              <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
        
              <img  src="https://images.unsplash.com/photo-1628717341663-0007b0ee2597?fit=crop&crop=entropy%2Cfaces&auto=format%2Ccompress&w=1280" class="card-img-top object-fit-cover" style="height: 280px;" />
        
              <div class="card-body">
                <h6 class="card-title fw-bold fs-5">一日生命糧募集行動</h6>
        
                <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                    <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                    <p class="ms-2">easyfundraising</p> 
                </div>
          
                <div class="align-items-center">
                  <h5 class="fw-bolder text-primary mb-1">NT$ 15,577</h5>
                    <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
                  </div>
                  <hr>
        
                  <div class="d-flex justify-content-between mt-3 align-items-center">
                    <p class="fw-lighter text-secondary fs-7">已有 2594 人參與募款</p>
                    <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
                  </div>
          
              </div> 
            </div></a>
          </div>
          <div class="swiper-slide">
            <a href="animal-food-aid.html"><div class="card position-relative pb-1 border">

              <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
        
              <img  src="https://images.unsplash.com/photo-1601758063890-1167f394febb?q=80&w=2002&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top object-fit-cover" style="height: 280px;" />
        
              <div class="card-body">
                <h6 class="card-title fw-bold fs-5">貓狗餐餐有飯吃 : 助糧救全台萬隻弱勢貓狗</h6>
        
                <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                    <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                    <p class="ms-2">easyfundraising</p> 
                </div>
          
                <div class="align-items-center">
                  <h5 class="fw-bolder text-primary mb-1">NT$ 24,807</h5>
                    <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
                  </div>
                  <hr>
        
                  <div class="d-flex justify-content-between mt-3 align-items-center">
                    <p class="fw-lighter text-secondary fs-7">已有 521 人參與募款</p>
                    <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
                  </div>
          
              </div> 
            </div></a>
          </div> 
          <div class="swiper-slide">
            <a href="animal-food-aid.html"><div class="card position-relative pb-1 border">

              <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
        
              <img  src="../assets/images/card2.jpg"  class="card-img-top object-fit-cover" style="height: 280px;" />
        
              <div class="card-body">
                <h6 class="card-title fw-bold fs-5">貓狗餐餐有飯吃 : 助糧救全台萬隻弱勢貓狗</h6>
        
                <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                    <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                    <p class="ms-2">easyfundraising</p> 
                </div>
          
                <div class="align-items-center">
                  <h5 class="fw-bolder text-primary mb-1">NT$ 54,564</h5>
                    <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
                  </div>
                  <hr>
        
                  <div class="d-flex justify-content-between mt-3 align-items-center">
                    <p class="fw-lighter text-secondary fs-7">已有 1678 人參與募款</p>
                    <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
                  </div>
          
              </div> 
            </div></a>
          </div>
          <div class="swiper-slide">
            <a href="animal-food-aid.html"><div class="card position-relative pb-1 border">

              <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
        
              <img  src="https://images.unsplash.com/photo-1628717341663-0007b0ee2597?fit=crop&crop=entropy%2Cfaces&auto=format%2Ccompress&w=1280" class="card-img-top object-fit-cover" style="height: 280px;" />
        
              <div class="card-body">
                <h6 class="card-title fw-bold fs-5">一日生命糧募集行動</h6>
        
                <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                    <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                    <p class="ms-2">easyfundraising</p> 
                </div>
          
                <div class="align-items-center">
                  <h5 class="fw-bolder text-primary mb-1">NT$ 15,352</h5>
                    <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
                  </div>
                  <hr>
        
                  <div class="d-flex justify-content-between mt-3 align-items-center">
                    <p class="fw-lighter text-secondary fs-7">已有 255 人參與募款</p>
                    <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
                  </div>
          
              </div> 
            </div></a>
          </div>
          <div class="swiper-slide">
            <a href="animal-food-aid.html">
            <div class="card position-relative pb-1 border">

              <p class="card-tag position-absolute bg-primary120 rounded-pill text-light py-2 px-3 fs-6">長期募集</p>
        
              <img  src="https://images.unsplash.com/photo-1601758063890-1167f394febb?q=80&w=2002&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top object-fit-cover" style="height: 280px;" />
        
              <div class="card-body">
                <h6 class="card-title fw-bold fs-5">貓狗餐餐有飯吃 : 助糧救全台萬隻弱勢貓狗</h6>
        
                <div class="card-initiator d-flex align-items-center mt-3 mb-3"> 
                    <img src="../assets/images/logo-nobg.png" width="30" height="30" alt=""> 
                    <p class="ms-2">easyfundraising</p> 
                </div>
          
                <div class="align-items-center">
                  <h5 class="fw-bolder text-primary mb-1">NT$ 24,807</h5>
                    <span class="fs-7 fw-lighter text-secondary">目前已募資金額</span>
                  </div>
                  <hr>
        
                  <div class="d-flex justify-content-between mt-3 align-items-center">
                    <p class="fw-lighter text-secondary fs-7">已有 521 人參與募款</p>
                    <p class="fw-bold bg-light rounded-pill p-2 fs-7">物資募集</p>
                  </div>
          
              </div> 
            </div></a>
          </div> 
        </div>

        <div class="swiper-button-next text-light bg-primary p-4"><i class="bi bi-arrow-right"></i></div>
        <div class="swiper-button-prev border p-4 text-primary"><i class="bi bi-arrow-left"></i></div>
        <div class="swiper-pagination"></div>
      </div>


      </div>



    </div>
     </section>

    <!-- 選擇捐款類型 -->
     <section class="container mt-5">
      <div class="category-row row py-lg-4  py-6 d-flex bg-primary align-items-center"> 
       <div class="col-12 col-lg-7 order-2 order-lg-1 sm-nowrap overflow-x-auto d-flex d-lg-block mt-3">
     
        <!-- Group 1 -->         
         <div class="d-lg-flex">
           <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-prescription2 fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>人道救援</p>
            <p class="fw-lighter fs-7 mt-1">342 個項目</p>
          </div>
           </div> 
           <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-feather fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>動物救援</p>
            <p class="fw-lighter fs-7 mt-1">563 個項目</p>
          </div>
           </div> 
         </div>

        <!-- Group 2 -->      
         <div class="ms-2 ms-lg-0 d-lg-flex">
          <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-box-seam fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>物資募集</p>
            <p class="fw-lighter fs-7 mt-1">490 個項目</p>
          </div>
          </div> 
          <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-egg-fried fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>舊衣&糧食募集</p>
            <p class="fw-lighter fs-7 mt-1">230 個項目</p>
          </div>
          </div> 
         </div> 

        <!-- Group 3 -->      
     
        <div class="ms-2 ms-lg-0 d-lg-flex">
          <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-file-medical fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>醫療照護</p>
            <p class="fw-lighter fs-7 mt-1">395 個項目</p>
          </div>
          </div> 
          <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-slash-circle fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>貓狗偏鄉絕育</p>
            <p class="fw-lighter fs-7 mt-1">486 個項目</p>
          </div>
          </div> 
         </div> 

        <!-- Group 4 -->      
     
        <div class="ms-2 ms-lg-0 d-lg-flex">
          <div class="category d-flex bg-light align-items-center me-3 mb-3">

          <div class="mx-3">
            <i class="category-icon bi bi-person-raised-hand fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>志工募集</p>
            <p class="fw-lighter fs-7 mt-1">283 個項目</p>
          </div>
          </div> 

          <div class="category d-flex bg-light align-items-center me-3 mb-3"> 
          <div class="mx-3">
            <i class="bg-primary category-icon bi bi-arrow-right fs-4 px-3 text-light"></i>
          </div>
          <div>
            <p>查看更多</p> 
          </div>
          </div> 
         </div> 


       </div>   

       <div class="col-12 col-lg-5 order-1 order-lg-2">
        <img src="../assets/images/Vector.png" width="40" height="40" alt="">
        <h3 class="text-light">想幫助什麼樣的人呢？<br>選擇捐款類型。</h3>
      </div>

      </div>
     </section>

     <!-- 信用卡捐款 -->
<section class="mt-8 mb-5"> 
  <div class="container">
    <div class="row justify-content-center gx-lg-8">

     <div class="col-lg-5"> 
   
     <div class="donate-title">
       <img src="../assets/images/deco1.png" width="200" height="200" alt="">
       <h2 class="fs-1 fw-bold">信用卡捐款</h2>
       <p class="mt-2">支援VISA / MASTERCARD / JCB (<a href="" class="d-inline text-primary">其他捐款管道</a>) </p>
       <p class="mt-4">請選擇捐款類型</p>
       <ul class="types d-flex text-nowrap mt-3 flex-wrap" style="height: auto;">
        <a href=""><li class="bg-primary120 text-light px-3 py-2 me-2 mb-2">全部</li></a>
        <a href=""><li class="border px-3 py-2 me-2 mb-2" >人道救援</li></a>
        <a href=""><li class="border px-3 py-2 me-2 mb-2" >物資募集</li></a>
        <a href=""><li class="border px-3 py-2 me-2 mb-2" >醫療照護</li></a>
        <a href=""><li class="border px-3 py-2 me-2 mb-2" >志工招募</li></a>
        <a href=""><li class="border px-3 py-2 me-2 mb-2" >動物救援</li></a>
        <a href=""><li class="border px-3 py-2 me-2 mb-2" >貓狗偏鄉絕育</li> </a>
      </ul>
     </div>
   
     </div>

     <div class="col-lg-5">
         <div class="bg-primary10 donate-form p-4 mt-4 mt-lg-0">

         <div class="stepbar position-relative mt-4">
 
          <div class="stepbar-number d-flex justify-content-between px-xl-4"> 
            <div class="text-center"> 
              <p class="bg-primary d-inline py-2 px-3 rounded-pill text-light">1</p> 
              <p class="mt-3">選擇金額</p>
            </div>
            <div class="text-center"> 
              <p class="bg-primary d-inline py-2 px-3 rounded-pill text-light">2</p> 
              <p class="mt-3">填寫資料</p>
            </div>
            <div class="text-center"> 
              <p class="bg-primary d-inline py-2 px-3 rounded-pill text-light">3</p> 
              <p class="mt-3">線上付款</p>
            </div> 
          </div>
 
            <div class="stepbar-line position-absolute progress bg-white" style="width: 75%; height: .8rem;">
              <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 
           

         </div>

         <div class="toggle-btn bg-light p-2 rounded-pill mx-auto mt-4" style="max-width: 13.5rem;"> 
           <div class="d-flex justify-content-center"> 
             <a class="bg-primary text-light py-2 px-3 rounded-pill" href="">定期定額</a>
             <a class="py-2 px-3 rounded-pill" href="">單筆捐款</a>
           </div>
         </div>
     
         <ul class="mt-4">
          <li class="price-option d-flex p-4 align-items-center mt-2">
            <div class="" >
              <p class="fs-4" style="width: 3.5rem;">$100</p>
              <span class="fs-7">/month</span>
            </div>
    
            <div class="ms-5"> 
              <p class="fs-7">幫助我們為營養不良兒童提供住院治療及即時營養包</p>
            </div>
          </li>
          <li class="selected-item d-flex p-4 align-items-center mt-2">
            <div class="">
              <p class="fs-4 text-primary" style="width: 3.5rem;">$500</p>
              <span class="fs-7">/month</span>
            </div>
    
            <div class="ms-5"> 
              <p class="fs-7">幫助我們為受武裝衝突影響的傷病患提供緊急醫療照護 </p>
            </div>
          </li>
          <li class="price-option d-flex p-4 align-items-center mt-2">
            <div class="">
              <p class="fs-4"  style="width: 3.5rem;">$1200</p>
              <span class="fs-7">/month</span>
            </div>
    
            <div class="ms-5"> 
              <p class="fs-7">幫助我們派遣專業醫療團隊在前線提供醫療服務</p>
            </div>
          </li>
          <li class="price-option d-flex p-4 align-items-center mt-2">
            <div class="">
              <p class="fs-4" style="width: 3.5rem;">$??</p>
              <span class="fs-7">/month</span>
            </div>
    
            <div class="ms-5"> 
              <p class="fs-7">自訂金額</p>
            </div>
          </li>
        </ul>
     
        <div class="mt-3 text-end">
          <a href="form.html" class="btn bg-primary text-light px-4 fs-5">下一步</a>
        </div>
  
       </div>
     </div>

  </div>

 </div>
</section>

    <%- include('./layout/toast'); -%>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
